//主题色 start

//$primary-color: red;

/* 改变主题色变量 */
$--color-primary: red;
$--main-width: 1200px;

// 主题色 end

//  公共头组件 start

$header-height: 60px;

// 公共头组件 end

//   menus组件 start

$menus-width: 200px;

//   menus组件 end

